/**
 * JAYWAY BRANDING
 */
.reveal:after {
  content: " ";
  display: block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: url("../../resources/jayway.png") no-repeat 0 0;
  background-size: contain;
  height: 56px;
  width: 200px;
  z-index: 99;
}

/**
 * Override syntax highlighting colors (same as highlight.js default team
 */
.reveal pre code {
  background: #f0f0f0;
  color: black;
}

/**
 * Override image border and shadow
 */
.reveal section img {
  border: none;
  box-shadow: none;
}